<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Movies
                <small>Search about movies and seasons from IMDB</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Movies</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 makeSpace">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Movie/Season name here!" id="movieName" ng-model="movieName">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="searchMovie()">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>    

        <div ng-if="response">
            <div class="col-md-4">
                <img class="img-responsive" ng-src="{{poster}}">
            </div>

            <div class="col-md-8">
                <h1 class="page-header removeBorder">{{title}}
                    <small>({{year}})</small>
                </h1>

                <ul>
                    <li>{{rated}}</li><span class="seprate">|</span>
                    <li>{{runTime}}</li><span class="seprate">|</span>
                    <li>{{genre}}</li><span class="seprate">|</span>
                    <li>{{released}}</li>
                    <li>({{country}})</li><span class="seprate">|</span>
                    <li>{{language}}</li>
                </ul>

                <hr>

                <div class="crew">
                    <div>
                        <h4 class="inline">Actors : </h4>
                        <span>{{actors}}</span>
                    </div>
                    <div>
                        <h4 class="inline">Awards : </h4>
                        <span>{{awards}}</span>
                    </div>
                    <div>
                        <h4 class="inline">Director :</h4>
                        <span>{{director}}</span>
                    </div>
                    <div>
                        <h4 class="inline">Writers : </h4>
                        <span>{{writer}}</span>
                    </div>
                                    
                </div>    

                <hr>

                <div class="crew">
                    <div class="metaScore">
                        <span>{{metascore}}</span>
                    </div>
                    <p class="metaText">Metascore</p>

                    <div class="rating">
                        <span class="glyphicon glyphicon-star"><b class="ratingNo">{{imdbRating}}/10</b></span>
                    </div>

                    <div class="votes">
                        <span class="glyphicon glyphicon-arrow-up"><b class="ratingNo">{{imdbVotes}}</b>(votes)</span>
                    </div>
                </div>
                <hr>
                <div class="crew">
                    <h4 class="inline">Plot : </h4>
                    <span>{{plot}}</span>
                </div>
            </div>
        </div>    
        <div ng-if="!response">
            <h3>No movies to show!</h3>
        </div>
    </div>

</div>
<!-- /.container -->
